/**
  * main.css contains general settings for the entire project.
*/

/* General settings for the entire page. */
#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	font-weight: normal;
}
a,
/* General trademark green tone that is used for text and icons. */
.green {
	text-decoration: none;
	color: #00bd7e;
	transition: 0.4s;
}

/* General effect on mouse hovering. */
@media (hover: hover) {
	a:hover {
		background-color: #00bd7e33;
	}
}

/* General settings for Desktop view. */
@media (min-width: 768px) {
	body {
		display: flex;
		place-items: center;
	}
}

/* General settings for Mobile view. */
@media (max-width: 768px) {
	body {
		display: flex;
		place-items: center;
	}
}
